body{
    background-color: rgb(57, 55, 68);
}
.bg-body-tertiary{
    background-color: rgb(70, 62, 78)!important;
    padding: 1em;
}

.navbar-brand{
    color:  rgb(153, 151, 151);
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color:  rgb(153, 151, 151);
}
.nav-link{
    color: rgb(153, 151, 151);
}

